# SPDX-FileCopyrightText: © 2022 Michael Goerz <mail@michaelgoerz.net>
#
# SPDX-License-Identifier: MIT OR CC0-1.0

*.jl.*.cov
*.jl.cov
*.jl.*.mem
*.jl.mem
/lcov.info
Manifest.toml
/docs/build/
/coverage/
/gh-pages/
/.JuliaFormatter.toml
